<html>
	<head>
		<meta charset='utf-8'>
		<meta name='description' description="Expandable shopping site built using elasticsearch and angular">
		<title>Shop</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type='text/javascript' src='../materialize/js/materialize.min.js'></script>
		<script>
		$(document).ready(function(){
			$(".button-collapse").sideNav();
		})
		</script>
		<link rel="stylesheet" href="../materialize/css/materialize.css">
		
		<link rel="stylesheet" href="../materialize/css/custom.css">
	</head>
	<body>
		<div>
			<div class="row" id='topbar'>
				<div class="container hide-on-med-and-down">
					<div class="col m2 offset-m7" style='text-align:right'>
						<h6 style='vertical-align:middle; margin-top:5%!important;font-weight:300'>(2)  <i class="tiny material-icons" style='vertical-align:middle;'>shopping_basket</i></h6>
				</div>	
				<div class="col m3" style='text-align: left; padding:0px 0px; margin:0'>
					<h6 style='font-weight: 300; font-size: 10pt'><a href style='color:black'>EDIT CART</a> | <a href style='color:black'>CHECKOUT</a></h6>
				</div>
				</div>
				
			</div>
			<div class="row" id='hero'>
				<div class="container">
				  <nav>
				    <div class="nav-wrapper">
				    	<a href="#!" class="brand-logo hide-on-small-only hide-on-large-only"><img src="../materialize/images/mclaren-logo.png" alt=""></a>
				 		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>	
				      <ul id="nav-mobile" class="hide-on-med-and-down">
				        <li><a href="#">HOME</a></li>
				        <li><a href="#">MODELS</a></li>
				        <li><a href="#">APPAREL</a></li>
				        <li><a href="#">CONTACT</a></li>
				        <li><a href="#">ABOUT</a></li>
				      </ul> 
				      <ul class="side-nav" id="mobile-demo" style='background-color:rgba(18,18,18,.85);'>
				        <li><a href="sass.html">HOME</a></li>
				        <li><a href="badges.html">MODELS</a></li>
				        <li><a href="badges.html">APPAREL</a></li>
				        <li><a href="collapsible.html">CONTACT</a></li>
				        <li><a href="mobile.html">ABOUT</a></li>
				      </ul> 
				  	</div>
				  </nav>
				</div>
			</div> 		
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6" id='secondary'>
					<div class="col s12 valign-wrapper" id='secondary1'>
						<div class="col m12 valign">
							<h4 class='center-align'>NEW LINEUP OF MEN'S APPAREL NOW AVAILABLE</h4>
							<button>SEE MORE</button>
						</div>
					</div>
					<div class="col s12 valign-wrapper" id='secondary2'>
						<h1><i>570S</i></h1>
					</div>
				</div>
				<div class="col s12 m6 hide-on-small-only" id='primary1'>
					
				</div>
			</div>
			<div class="row" >
				<div class="col s12" id='hero3'>
					<h2 id='hero_text3'><i>PURE SPEED</i></h2>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12" id='logopres' >
					<h1>McLAREN TECHNOLOGIES</h1>
					 <img src="../materialize/images/mclaren/mclaren.png" alt="">
					<p>McLaren was established as McLaren Cars in 1989 as a producer of road cars based on Formula One technology but in 2009, a new company was formed as a different company from the McLaren Technology Group and is now owned by a group of different investors. It works closely with McLaren Racing, the Formula One constructor, and is a spinoff of McLaren Group.</p>
				</div>		
			</div>
			
		</div>
		<footer class="page-footer" style='margin-top:0px; padding-top:0px'>
          <div class="container">
          	<div class="row">
          		<div class="col s4">
          			<img style='width:40%'src="../materialize/images/mclaren-logo.png" alt="">
          		</div>
          		<div class="col s8" style='text-align:right'>
					<a href="#"><img src="../materialize/images/social/instagramgrey.png" alt="" class='social'></a>
					<a href="#"><img src="../materialize/images/social/twittergrey.png" alt="" class='social''></a>
					<a href="#"><img src="../materialize/images/social/facebookgrey.png" alt="" class='social'></a>
          		</div>
          	</div>
          </div>
        </footer>
	</body>
</html>