<div>
	<div class="row" id='topbar'>
		<div class="container hide-on-med-and-down">
			<div>
				<img src="../materialize/images/mclaren/logo-header.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="row" id='hero'>
		<div class="container">
		  <nav>
		    <div class="nav-wrapper">
		    	<a href="#!" class="brand-logo hide-on-small-only hide-on-large-only"><img src="../materialize/images/mclaren/mclaren-logo.png" alt=""></a>
		 		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>	
		      <ul id="nav-mobile" class="hide-on-med-and-down">
		        <li><a class='selected'>HOME</a></li>
		        <li><a href="#/models">MODELS</a></li>
		        <li><a href="#/contact">CONTACT</a></li>
		      </ul> 
		      <ul class="side-nav" id="mobile-demo" style='background-color:rgba(18,18,18,.85);'>
		        <li><a href="sass.html">HOME</a></li>
		        <li><a href="badges.html">MODELS</a></li>
		        <li><a href="collapsible.html">CONTACT</a></li>
		      </ul> 
		  	</div>
		  </nav>
		</div>
	</div> 		
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6" id='secondary'>
			<div class="col s12 valign-wrapper" id='secondary1'>
				<div class="col m12 valign">
					<h4 class='center-align'>NEW LINEUP OF MEN'S APPAREL NOW AVAILABLE</h4>
					<button>SEE MORE</button>
				</div>
			</div>
			<div class="col s12 valign-wrapper" id='secondary2'>
				<h1>570S</h1>
			</div>
		</div>
		<div class="col s12 m6 hide-on-small-only" id='primary1'>
			
		</div>
	</div>
	<div class="row" id='hero3'>
		<div class="col s12" style='background:RGBA(38, 38, 38, .70);height:30vh'>
			<h2 id='hero_text3'><i>Latest Events</i></h2>
		</div>
	</div>
	<div style='width:80%; margin:0 auto'>
		<div class="row" id='eventSection'>
		<div class="col s12 m4 l4" >
			<div class="eventWrapper">
				<img src="../materialize/images/mclaren/pure_mclaren.jpg" alt="">
				<span class='eventInfo'>
					<a href="http://cars.mclaren.com/home/experiences/pure-mclaren.html" class='eventHeader'><h5>Pure McLaren</h5></a>
					<p>Enjoy the thrill of driving a McLaren on track with our unrivalled driving experience programme.</p>
					<a href="" class='eventLink'><p>Explore<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
				</span>
			</div>
		</div>
		<div class="col s12 m4 l4">
			<div class="eventWrapper">
				<img src="../materialize/images/mclaren/chateau_mclaren.jpg" alt="">
				<span class='eventInfo'>
					<a href="http://cars.mclaren.com/home/experiences/pure-mclaren.html" class='eventHeader'><h5>Lifestyle and Heritage</h5></a>
					<p>Experience everything that makes McLaren special with our exclusive lifestyle and heritage events.</p>
					<a href="" class='eventLink'><p>What's On<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
				</span>
			</div>
		</div>
		<div class="col s12 m4 l4">
			<div class="eventWrapper">
				<img src="../materialize/images/mclaren/factory_mclaren.jpg" alt="">
				<span class='eventInfo'>
					<a href="http://cars.mclaren.com/home/experiences/pure-mclaren.html" class='eventHeader'><h5>Factory Handovers</h5></a>
					<p>Make the first experience of your new McLaren truly special with our exclusive factory handover programme.</p>
					<a href="" class='eventLink'><p>Further Details<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
				</span>
			</div>
		</div>
		<!-- <div class="col s12 m10 offset-m1" id='logopres' >
			<h1>McLAREN TECHNOLOGIES</h1>
			 <img src="../materialize/images/mclaren/mclaren.png" alt="">
			<p>McLaren was established as McLaren Cars in 1989 as a producer of road cars based on Formula One technology but in 2009, a new company was formed as a different company from the McLaren Technology Group and is now owned by a group of different investors. It works closely with McLaren Racing, the Formula One constructor, and is a spinoff of McLaren Group.</p>
		</div> -->		
	</div>
	</div>
	
</div>