<video autoplay loop poster='../materialize/images/mclaren/models/stillfull.jpg' id='bgvid'>
  <source src='../materialize/images/mclaren/models/trimqmclaren675lt.mp4' type='video/mp4'>
</video>
<div class="row">
  <div class=""style='text-align:center;padding: 2vh 0px;'>
    <a href="/#/"><img src="../materialize/images/mclaren/mclaren-logo.png" alt="" id='header_logo'></a>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div id="mainModelsNav">
      <span ><h1 class="mainModelsTitle">M</h1><h1 class="mainModelsTitle">O</h1><h1 class="mainModelsTitle">D</h1><h1 class="mainModelsTitle">E</h1><h1 class="mainModelsTitle">L</h1><h1 class="mainModelsTitle">S</h1><i class="material-icons mainModelsTitle" style='font-size:54pt;vertical-align:middle;font-weight:200'>keyboard_arrow_right</i></span>
      <div id="modelsNavElements">
        <div class="modelNavElement">
          <a ng-click="mC.gotoElement('p1Info')"><h1>P1</h1></a>
        </div>
        <div class="modelNavElement">
          <a ng-click="mC.gotoElement('ltInfo')"><h1>675LT</h1></a>
        </div>
        <div class="modelNavElement">
          <a ng-click="mC.gotoElement('sixFiftySInfo')"><h1>650S</h1></a>
        </div>
        <div class="modelNavElement">
          <a ng-click="mC.gotoElement('fiveSeventyInfo')"><h1>570</h1></a>
        </div>
        <div class="modelNavElement">
          <a href="/#/"><h1>540C</h1></a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">
  <div class="col s12" id='p1Info'>
    <div id="p1TextWrapper">
      <h4 style="font-weight:100">MCLAREN</h4><h4 style='font-size:48pt'> P1</h4>
      <hr>
      <h5>Inspiration</h5>
      <p>The McLaren P1™ follows in the footsteps of the iconic McLaren F1, the car that pushed boundaries further than any of its rivals.</p>
      <h5>Design & Innovation</h5>
      <p>What would nature do? The purposeful appearance of the McLaren P1™ is the result of a function-led design approach.</p>
      <h5>Performance</h5>
      <p>Learn how the McLaren P1™ was built to deliver on a seemingly impossible list of targets – and managed to achieve every one.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12" id='ltInfo'>
    <h2 id="ltTitle">675LT</h2>
    <div id="ltHero">
      <div style='background:RGBA(38, 38, 38, .50);height:45vh;border-bottom: 2px solid #E13439;'></div>
    </div>
    <div id="ltInfoContainer">
      <div class="col s12">
        <div class="eventWrapper" style='margin-bottom:8vh'>
          <span class='eventInfo'>
            <a href="http://cars.mclaren.com/home/experiences/pure-mclaren.html" class='eventHeader'><h5>Design</h5></a>
            <p>Informed by motorsport success and designed to set your pulse racing, the 675LT is the most striking of all McLaren Super Series models</p>
            <a href="" class='eventLink'><p>Read more<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12" id='sixFiftySInfo'>
    <div id="sixFiftySTextWrapper">
      <h1 style="color: #E13439;font-style:italic">650S</h1>
      <div class="sixFiftySPanel">
        <h4>Innovative Engineering</h4>
        <hr>
        <p>60mph in under three seconds, a 204mph top speed, 650PS… Explore the thrill of five decades of Formula 1 success transferred to the road.</p>
        <a href="" class='panelLink'><p>Discover<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
      </div>
      <div class="sixFiftySPanel">
        <h4>Luxury Interior</h4>
        <hr>
        <p>Discover the exquisite materials and race-bred technology that combine to provide such a unique balance of luxury and excitement in the McLaren 650S Spider.</p>
        <a href="" class='panelLink'><p>Explore<i class="material-icons eventIcon">keyboard_arrow_right</i></p></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12" id="fiveSeventyInfo">
    
    <div id="fiveSeventyHero1">
      
    </div>
    <div id="sportSeries">
      <span id="sportSeriesTitle">
        <h1>Sports</h1><h1>Series</h1>
      </span>
      <span id="sportSeriesText">
        <p>The McLaren Sports Series breaks new ground by bringing our technological advances to the sports car arena. With a 3.8-litre V8 engine mid-mounted for perfect balance, and a lightweight carbon fibre MonoCell II chassis, Sports Series models offer a class-defining power-to-weight ratio that’s designed to thrill. Along with the breathtaking performance, pinpoint steering, and sense of control that makes driving absolute fun, is a level of comfort that defies its super car looks.</p>
      </span>    
    </div>
  </div>
</div>