
<div class="row" ng-controller='preloaderController'>
	<div class="navbar-fixed">
      <nav class='fixed_nav' style='position:fixed !important;'>
        <div class="nav-wrapper" >
          <a href="#!" class="brand-logo center"><img src="../materialize/images/mclaren/mclaren-logo.png" alt="" id='header_logo'></a>
          <ul class='hide-on-med-and-down'>
            <li><a href="#/">HOME</a></li>
            <li><a href='#/models'>MODELS</a></li>
            <li><a href='#/'>APPAREL</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>
      </nav>
    </div>
	<div class="row">
	    <div ng-repeat='vehiclecontent in VC.vehicles' id="{{vehiclecontent._id}}" class="col s12">
	    	<div ng-repeat='images in preloaderController.imageLocation' style="background: url('{{images}}');background-repeat: no-repeat; height: 60vh; background-position:center; background-attachment: fixed;background-size:cover;">
	    	</div>
	    </div>
	  </div>
	  <div class="col s12" id='lowerappcontainer'>
	      <ul class="tabs">
	        <li class="tab col s3" ng-repeat='vehicle in VC.vehicles'><a href="#{{vehicle._id}}">{{vehicle.model}}</a></li>
	      </ul>
	    </div>
	    <div style='height: 50vh'></div>
</div>