<video autoplay loop poster='../materialize/images/mclaren/models/stillfull.jpg' id='bgvid'>
  <source src='../materialize/images/mclaren/models/trimqmclaren675lt.mp4' type='video/mp4'>
</video>
  <div class="row">
    <div class="navbar-fixed">
      <nav class='fixed_nav' style='position:fixed !important;'>
        <div class="nav-wrapper" >
          <a href="#!" class="brand-logo center"><img src="../materialize/images/mclaren/mclaren-logo.png" alt="" id='header_logo'></a>
          <ul class='hide-on-med-and-down'>
            <li><a href="#/">HOME</a></li>
            <li><a class='selected'>MODELS</a></li>
            <li><a href="#">APPAREL</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<div id='arrow'>
  <img src="../materialize/images/mclaren/models/downarrow.png" id='downarrow' alt="">  
</div>

<div class="row" class='lower_hero'>
  <div class="col s12">
    <h1>End of Demo</h1>
    <h4>Site built by Nick McCrory:</h4>
    <h5>All cars are property of McLaren.</h5>
    <h5>Images are not my own.</h5>
  </div>
</div>
